.button {
  appearance: none;
  border: none;
  border-radius: 6px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  height: 44px;
  width: 206px;
  left: 0px;
  top: 0px;
}

.primary{
    background-color: #FA0287;
}


