* {
    margin: 0;
    padding: 0;
}

.price {
    max-width: 200px;
    width: auto;
    display: flex;
    flex-flow: row;
    height: auto;
    max-height: fit-content;
    font-family: 'Open_Sans';
    font-weight: 600;
    h4 {
        font-size: 20px;
        margin: 0;
        color: var(--primary-black);
        font-size: 24px;
        font-weight: 700;
    }
    p {
        font-size: 14px;
        font-weight: 600; 
        padding-top: 8px;
        color: var(--ligth-primary);
    }
}