.hero-container{
    background-image: url('../../../assets/images/img1.png');
    height: 480px;
    background-size: cover;
    background-position: center;  
    display: flex;
    flex-direction: column;
}

.tittle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: white;
    width: 100%;
}

.text{
    padding-left: 75px;
    padding-right: 75px;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo {
    height: 76px;
    padding-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.mexico{
    color: #FA0287;
    font-family:  'Open_sans';
}

.navbar{
    padding-right: 75px;
    border-bottom: 1px solid white;
    flex-grow: 1px;
    margin-left: 70px;
    display: flex;
    justify-content: flex-end;  
}




